{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "pluginSearchDirs": false,

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^[./](?!.*\\.(css|scss|less|jpg|jpeg|png|svg|gif|webp|ico|avif)$)",
    ".*\\.(jpg|jpeg|png|svg|gif|webp|ico|avif)$",
    ".*\\.(css|scss|less)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "tailwindStylesheet": "./src/shared/index.css",
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
